<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.js" crossorigin="anonymous"></script>

    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.5.2/bootstrap.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
